@page "/inputfile"
@using BlazorApp1.PageModel
@inherits InputFileModel
<h3>Component</h3>
<div>
    <input type="file" name="name" value="" id="inputfile" />
</div>
<div>
    <button @onclick="Upload">上传</button>
</div>
@code {

}
