
body {
}
.pos{
    display:inline-block;
    width:12%;
    height:100px;
    background-color:darkgray;
    margin-top:1px;
}
.newbg{
    background-color:antiquewhite;
}
[draggable]{
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    -webkit-user-drag:element;
}
h1 {
    padding: .2em;
    margin: 0;
}

#products {
    float: left;
    width: 500px;
    margin-right: 2em;
}

#cart {
    width: 200px;
    float: left;
    margin-top: 1em;
}
  
#cart ol {
    margin: 0;
    padding: 1em 0 1em 3em;
}